# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/JavaScript/node_modules
/JavaScript/.pnp
/JavaScript/.pnp.js

# testing
/JavaScript/coverage

# production
/JavaScript/build

# misc
/JavaScript/.DS_Store
/JavaScript/.env.local
/JavaScript/.env.development.local
/JavaScript/.env.test.local
/JavaScript/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.Python/idea/
.Python/idea/inspectionProfiles/profiles_settings.xml
Python/pages/__pycache__/page01.cpython-39.pyc
*.pyc

